<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Скачать</title>
</head>
<body><center><table width=1024><tr><td>

<h2>Скачать</h2>

<p align=justify>
Все версии поддерживают русский и английский интерфейс, и представлены в виде самораспаковывающихся архивов.
</p>

<p align=justify><b>
AntiDupl.NET-2.x с окрытыми исходными кодами:
</b></p>

<table width=1012 border="1" style='border-collapse:collapse'>
 <tr> <th>Дата выхода</th> <th>Бинарная версия</th> <th>Размер</th> <th>Поддержка дополнительных языков</th> <th>Исходные коды</th> <th>Размер</th></tr>
  <tr> <td align="center">25.02.2015</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.3.4.exe/download" target="_parent">AntiDupl.NET-2.3.4.exe</a></td> <td align="center">3.2 Мб</td> 
      <td align="center"></td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.3.4.zip/download" target="_parent">AntiDupl.NET-2.3.4.zip</a></td> <td align="center">3.2 Мб</td></tr>
 <tr> <td align="center">04.02.2015</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.3.3.exe/download" target="_parent">AntiDupl.NET-2.3.3.exe</a></td> <td align="center">2.2 Мб</td> 
      <td align="center"></td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.3.3.zip/download" target="_parent">AntiDupl.NET-2.3.3.zip</a></td> <td align="center">3.3 Мб</td></tr>
 <tr> <td align="center">12.01.2015</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.3.2.exe/download" target="_parent">AntiDupl.NET-2.3.2.exe</a></td> <td align="center">1.6 Мб</td> 
      <td align="center">белорусский, немецкий</td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.3.2.zip/download" target="_parent">AntiDupl.NET-2.3.2.zip</a></td> <td align="center">1.9 Мб</td></tr>
 <tr> <td align="center">02.08.2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.3.1.exe/download" target="_parent">AntiDupl.NET-2.3.1.exe</a></td> <td align="center">1.5 Мб</td> 
      <td align="center">белорусский, немецкий</td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.3.1.zip/download" target="_parent">AntiDupl.NET-2.3.1.zip</a></td> <td align="center">1.8 Мб</td></tr>
 <tr> <td align="center">05.07.2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.3.0.exe/download">AntiDupl.NET-2.3.0.exe</a></td> <td align="center">1.5 Мб</td> 
      <td align="center"></td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.3.0.zip/download">AntiDupl.NET-2.3.0.zip</a></td> <td align="center">1.7 Мб</td></tr>
 <tr> <td align="center">26.04.2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.11.exe/download">AntiDupl.NET-2.2.11.exe</a></td> <td align="center">1.5 Мб</td> 
      <td align="center">белорусский, китайский, украинский, немецкий</td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.2.11.zip/download">AntiDupl.NET-2.2.11.zip</a></td> <td align="center">1.7 Мб</td></tr>
 <tr> <td align="center">11.04.2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.10.exe/download">AntiDupl.NET-2.2.10.exe</a></td> <td align="center">1.5 Мб</td> 
      <td align="center">белорусский, китайский</td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.2.10.zip/download">AntiDupl.NET-2.2.10.zip</a></td> <td align="center">1.7 Мб</td></tr>
 <tr> <td align="center">03.04.2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.9.exe/download">AntiDupl.NET-2.2.9.exe</a></td> <td align="center">1.5 Мб</td> 
      <td align="center">белорусский, китайский</td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.2.9.zip/download">AntiDupl.NET-2.2.9.zip</a></td> <td align="center">1.7 Мб</td></tr>
<tr> <td align="center">16.03.2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.8.exe/download">AntiDupl.NET-2.2.8.exe</a></td> <td align="center">1.4 Мб</td> 
      <td align="center">белорусский</td> 
	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.2.8.zip/download">AntiDupl.NET-2.2.8.zip</a></td> <td align="center">1.7 Мб</td></tr>
 <tr> <td align="center">15.03.2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.7.exe/download">AntiDupl.NET-2.2.7.exe</a></td> <td align="center">1.4 Мб</td> 
      <td align="center">белорусский</td> 
	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.2.7.zip/download">AntiDupl.NET-2.2.7.zip</a></td> <td align="center">1.7 Мб</td></tr>
</table>

<p align=justify><b>
Серия AntiDupl.NET-2.x:
</b></p>

<table width=1012 border="1" style='border-collapse:collapse'>
 <tr> <th>Дата выхода</th> <th>Ссылка для скачивания</th> <th>Размер</th> <th>Поддержка дополнительных языков</th> </tr>
 <tr> <td align="center">27.09.2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.6.exe/download">AntiDupl.NET-2.2.6.exe</a></td> <td align="center">1396 кб</td> <td align="center">немецкий, китайский, белорусский</td> </tr>
 <tr> <td align="center">12.09.2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.5.531.exe/download">AntiDupl.NET-2.2.5.531.exe</a></td> <td align="center">1386 кб</td> <td align="center">немецкий, китайский, белорусский</td> </tr>
 <tr> <td align="center">05.06.2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.4.528.exe/download">AntiDupl.NET-2.2.4.528.exe</a></td> <td align="center">1382 кб</td> <td align="center">немецкий, китайский, белорусский</td> </tr>
 <tr> <td align="center">24.05.2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.3.520.exe/download">AntiDupl.NET-2.2.3.520.exe</a></td> <td align="center">1378 кб</td> <td align="center">немецкий, китайский</td> </tr>
 <tr> <td align="center">21.05.2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.2.517.exe/download">AntiDupl.NET-2.2.2.517.exe</a></td> <td align="center">1377 кб</td> <td align="center">немецкий, китайский</td> </tr>
 <tr> <td align="center">16.04.2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.1.503.exe/download">AntiDupl.NET-2.2.1.503.exe</a></td> <td align="center">1315 кб</td> <td align="center">немецкий, китайский</td> </tr>
 <tr> <td align="center">03.04.2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.0.495.exe/download">AntiDupl.NET-2.2.0.495.exe</a></td> <td align="center">1317 кб</td> <td align="center">немецкий, китайский</td> </tr>
 <tr> <td align="center">19.12.2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.1.1.466.exe/download">AntiDupl.NET-2.1.1.466.exe</a></td> <td align="center">1186 кб</td> <td align="center">немецкий, китайский</td> </tr>
 <tr> <td align="center">07.12.2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.1.0.452.exe/download">AntiDupl.NET-2.1.0.452.exe</a></td> <td align="center">1179 кб</td> <td align="center">немецкий</td> </tr>
 <tr> <td align="center">08.11.2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.0.0.431.exe/download">AntiDupl.NET-2.0.0.431.exe</a></td> <td align="center">1144 кб</td> <td align="center"></td> </tr>
</table>

<p align=justify><b>
Серия AntiDupl.NET-1.x:
</b></p>

<table width=1012 border="1" style='border-collapse:collapse'>
 <tr> <th>Дата выхода</th> <th>Ссылка для скачивания</th> <th>Размер</th> <th>Поддержка дополнительных языков</th> </tr>
 <tr> <td align="center">28.07.2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.8.5.379.exe/download">AntiDupl.NET-1.8.5.379.exe</a></td> <td align="center">989 кб</td> <td align="center">итальянский, испанский, китайский, немецкий, корейский</td> </tr>
 <tr> <td align="center">05.07.2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.8.4.375.exe/download">AntiDupl.NET-1.8.4.375.exe</a></td> <td align="center">989 кб</td> <td align="center">итальянский, испанский, китайский, немецкий</td> </tr>
 <tr> <td align="center">14.06.2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.8.3.372.exe/download">AntiDupl.NET-1.8.3.372.exe</a></td> <td align="center">987 кб</td> <td align="center">итальянский, испанский, китайский</td> </tr>
 <tr> <td align="center">17.05.2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.8.2.365.exe/download">AntiDupl.NET-1.8.2.365.exe</a></td> <td align="center">983 кб</td> <td align="center">итальянский, испанский, китайский</td> </tr>
 <tr> <td align="center">14.05.2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.8.1.362.exe/download">AntiDupl.NET-1.8.1.362.exe</a></td> <td align="center">983 кб</td> <td align="center">итальянский, испанский, китайский</td> </tr>
 <tr> <td align="center">25.04.2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.8.0.354.exe/download">AntiDupl.NET-1.8.0.354.exe</a></td> <td align="center">981 кб</td> <td align="center">итальянский, испанский</td> </tr>
 <tr> <td align="center">23.02.2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.7.1.319.exe/download">AntiDupl.NET-1.7.1.319.exe</a></td> <td align="center">981 кб</td> <td align="center"></td> </tr>
 <tr> <td align="center">01.02.2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.7.0.311.exe/download">AntiDupl.NET-1.7.0.311.exe</a></td> <td align="center">979 кб</td> <td align="center"></td> </tr>
 <tr> <td align="center">04.11.2010</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.6.0.0.exe/download">AntiDupl.NET-1.6.0.0.exe</a></td> <td align="center">962 кб</td> <td align="center">итальянский</td> </tr>
 <tr> <td align="center">21.10.2010</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.5.3.0.exe/download">AntiDupl.NET-1.5.3.0.exe</a></td> <td align="center">960 кб</td> <td align="center">итальянский</td> </tr>
 <tr> <td align="center">08.06.2010</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.5.2.0.exe/download">AntiDupl.NET-1.5.2.0.exe</a></td> <td align="center">957 кб</td> <td align="center"></td> </tr>
 <tr> <td align="center">18.03.2010</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.5.1.0.exe/download">AntiDupl.NET-1.5.1.0.exe</a></td> <td align="center">656 кб</td> <td align="center"></td> </tr>
 <tr> <td align="center">10.03.2010</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.5.0.0.exe/download">AntiDupl.NET-1.5.0.0.exe</a></td> <td align="center">656 кб</td> <td align="center"></td> </tr>
 <tr> <td align="center">18.12.2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.4.0.0.exe/download">AntiDupl.NET-1.4.0.0.exe</a></td> <td align="center">686 кб</td> <td align="center"></td> </tr>
 <tr> <td align="center">10.09.2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.3.0.0.exe/download">AntiDupl.NET-1.3.0.0.exe</a></td> <td align="center">673 кб</td> <td align="center"></td> </tr>
 <tr> <td align="center">22.08.2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.2.1.0.exe/download">AntiDupl.NET-1.2.1.0.exe</a></td> <td align="center">650 кб</td> <td align="center"></td> </tr>
 <tr> <td align="center">23.06.2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.2.0.0.exe/download">AntiDupl.NET-1.2.0.0.exe</a></td> <td align="center">373 кб</td> <td align="center"></td> </tr>
 <tr> <td align="center">08.04.2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.1.0.0.exe/download">AntiDupl.NET-1.1.0.0.exe</a></td> <td align="center">361 кб</td> <td align="center"></td> </tr>
 <tr> <td align="center">15.02.2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.0.0.0.exe/download">AntiDupl.NET-1.0.0.0.exe</a></td> <td align="center">364 кб</td> <td align="center"></td> </tr>
</table>

<p align=justify><i>
Примечание: Если у вас не установлена на компьютере Windows Vista (или более поздняя версия), то для работы данной серии необходим 
<a href="http://www.microsoft.com/downloads/details.aspx?familyid=0856eacb-4362-4b0d-8edd-aab15c5e04f5&displaylang=ru"> Microsoft.NET Framework 2.0</a>
 (22 Мб) или его более поздняя версия.
</i></p>

<p align=justify><b>
Серия AntiDupl-2.x:
</b></p>

<table width=1012 border="1" style='border-collapse:collapse'>
 <tr> <th>Дата выхода</th> <th>Ссылка для скачивания</th> <th>Размер</th></tr>
 <tr> <td align="center">17.07.2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.4.2.exe/download">AntiDupl-2.4.2.exe</a></td> <td align="center">452 кб</td> </tr>
 <tr> <td align="center">17.03.2008</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.4.1.exe/download">AntiDupl-2.4.1.exe</a></td> <td align="center">502 кб</td> </tr>
 <tr> <td align="center">10.09.2007</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.4.exe/download">AntiDupl-2.4.exe</a></td> <td align="center">453 кб</td> </tr>
 <tr> <td align="center">13.07.2007</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.2XL.exe/download">AntiDupl-2.2XL.exe</a></td> <td align="center">628 кб</td> </tr>
 <tr> <td align="center">11.07.2007</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.3.exe/download">AntiDupl-2.3.exe</a></td> <td align="center">495 кб</td> </tr>
 <tr> <td align="center">28.07.2006</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.2.exe/download">AntiDupl-2.2.exe</a></td> <td align="center">447 кб</td> </tr>
 <tr> <td align="center">18.05.2006</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.1.exe/download">AntiDupl-2.1.exe</a></td> <td align="center">431 кб</td> </tr>
 <tr> <td align="center">09.04.2006</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.0.exe/download">AntiDupl-2.0.exe</a></td> <td align="center">429 кб</td> </tr>
</table>

<p align=justify><i>
Примечание: эта серия использует библиотеку <a href="http://sourceforge.net/projects/antidupl/files/bin/gdiplus.exe/download">GDI+</a> (802 кб), которой может не быть в старых версиях 
Windows (Windows 98/ME, Windows NT SP6 или Windows 2000).
</i></p>

<p align=justify><i>
 Исходные коды <a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl-2.4.2.zip/download">AntiDupl-2.4.2.zip</a> (617 кб) под С++Builder-6. 
</i></p>

<p align=justify><b>
Серия AntiDupl-1.x:
</b></p>

<table width=1012 border="1" style='border-collapse:collapse'>
 <tr> <th>Дата выхода</th> <th>Ссылка для скачивания</th> <th>Размер</th></tr>
 <tr> <td align="center">08.11.2005</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-1.17.exe/download">AntiDupl-1.17.exe</a></td> <td align="center">297 кб</td> </tr>
 <tr> <td align="center">01.11.2003</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-1.16.exe/download">AntiDupl-1.16.exe</a></td> <td align="center">293 кб</td> </tr>
 <tr> <td align="center">17.10.2003</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-1.15.exe/download">AntiDupl-1.15.exe</a></td> <td align="center">295 кб</td> </tr>
</table>

<p align=justify><i>
 Исходные коды <a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl-1.17.zip/download">AntiDupl-1.17.zip</a> (332 кб) под С++Builder-6. 
</i></p>
 
</td></tr></table></center></body>
</html>
