<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Описание AntiDupl-1.17</title>
</head>
<body><center><table width=1024><tr><td>

<h2>Описание AntiDupl-1.17</h2>

<h3> Общие сведения: </h3>
<p align=justify>
Если вы храните на своем компьютере большое количество изображений в формате Jpeg, то 
возможна ситуация, когда эти изображения дублируются (или присутствуют картинки 
которые изображают одинаковый объект, но с разными разрешением или степенью сжатия).
Кроме того, при скачивании Jpeg-картинок с Интернета они иногда не докачиваются до
конца - мы получаем поврежденные картинки (изображение на таких картинках содержит 
дефекты). Понятно, что дополнительные копии и файлы с дефектами просто зря занимают
место на винчестере. При большом колличестве картинок ручной поиск одинаковых и 
поврежденных файлов - довольно утомительное занятие (проверено на себе :-)), по этому 
жалательно наличие программы, автоматизирующей данный процесс. AntiDupl как раз 
предназначена для этих целей. Программа ищет  одинаковые (похожие)
и дефектные картинки в заданном каталоге и удаляет таковые в автоматическом режиме
или с запросом у пользователя. Возможно управление параметрами поиска. Программа 
имеет русский и английский интерфейс.
</p>
<h3>Описание работы:</h3>
<p align=justify>
Программа имеет внешний вид:
<p align=justify>
<img src="files/MainForm1.gif">
</p>
<p align=justify>
В меню «Обзор» (Browse) можно выбрать папку, в которой требуется осуществить поиск 
картинок, (текущая папка отображается в заглавии программы) после чего нажать кнопку 
«Старт» (Start). Во время поиска отображается общее число файлов, номер текущего 
файла и его название. Если программа найдет одинаковые (похожие) картинки, то выдаст 
запрос, предлагая пользователю удалить одну из одинаковых картинок (при этом 
отображаются сами картинки, их названия, размеры файлов, разрешение картинок и путь 
к ним). Аналогичный запрос возникает при нахождении картинки с дефектами. Если 
программа не выделена (ее индикатор на панели задач неактивен), то понять ее состояние 
можно по цвету ярлыка: 
</p>
<p align=justify>
<img src="files/IconGreen.gif"> - поиск завершен.
</p>
<p align=justify>
<img src="files/IconYellow.gif"> - идет поиск.
</p>
<p align=justify>
<img src="files/IconRed.gif"> -  – найдены одинаковые 
или дефектные картинки, и программа ожидает решения пользователя.
</p>
<h3> Дополнительные возможности: </h3>
<p align=justify>
В пункте меню «Опции» (Option) можно дополнительно регулировать следующие 
настройки:
<br><b>А)</b> «Удалять в Корзину» (Delete To Recycle Bin) – при включении этой опции файлы 
удаляются в корзину, иначе удаляются безвозвратно.
<br><b>Б)</b> «Искать в Подкаталогах» (Search in Subdirectories) - файлы ищутся не только в 
текущем каталоге, но и во всех вложенных в него.
<br><b>А)</b> «Язык» (Language) - позволяет выбрать язык интерфейса (Русский или Английский).
<br><b>Г)</b> «Проверять Картинки на Дефекты» (Check Pictures on Defect) - позволяет выбрать 
требуется ли проверять файлы на наличие дефектов. 
<br><b>Д)</b> «Автоудаление Дефектных Картинок» (Autodelete Defect Picture) - удаление картинок с 
дефектами в автоматическом режиме (без запроса на подтверждение).
<br><b>Е)</b> «Искать Похожие Картинки» (Check Pictures on Equality) - поиск одинаковых картинок.
<br><b>Ж)</b> «Степень Различия Картинок» (Rate of Picture Difference) - позволяет выбрать степень 
схожести картинок. При малой степени различия программа может не находить похожие 
картинки (которые различаются, например, разрешением картинки или степенью ее 
сжатия). При большой степени различия программа может выводить и не схожие 
картинки.
<br><b>З)</b> «Сравнивать Картинки Целиком» (Compare Full Picture) - при включении этой опции 
сравниваются картинки целиком, иначе сравниваются картинки 1/8 натурального размера. 
Сравнивание картинок целиком приводит к более точному прогнозу  схожести 
картинок, но увеличивает время поиска.
<br><b>И)</b> «Учитывать Размер Картинок» (Allow for Picture Size) - при включении этой опции 
программа дополнительно проверяет размеры (высоту и ширину) картинок, и картинки с 
одинаковым содержимым, но разными размерами считаются разными.
<br><b>К)</b> "Автоудаление Одинаковых Картинок" (Autodelete Equal Pictures) - Одинаковые картинки 
будут удаляться без запроса на подтвеждение. Удаляются только полностью одинаковые 
картинки (степень различия "Нет" (None),одинаковая высота и ширина). Удаляется картинка,
которая найдена второй . 
<br><b>Л)</b> «Опции по Умолчанию» (Default Option) – опции А, Б, Г-К будут установлены в 
значения, рекомендуемые для использования.
<br><br>
Размер диалогов для сравнения одинаковых картинок и для удаления дефектных может 
быть изменен (как обычное окно при помощи мышки). При этом меняется и размер картинок.
</p>

<h3>Особенности работы:</h3>

<p align=justify>
<b>А)</b> Если картинки представляют собой небольшие изображения на черном фоне, то 
учащается вероятность ложных срабатываний. Аналогичная ситуация для графиков.
<br><b>Б)</b> Программа не осуществляет поиск картинок в других (отличных от JPEG)
 форматах.
</p>
<h3>Системные требования: </h3>
<p align=justify>
Операционная система Windows 9x – XP.
</p>
<h3>Установка: </h3>
<p align=justify>
Не требуется.
</p>
<h3>Лицензия: </h3>
<p align=justify>
Программа может использоваться всеми желающими по своему усмотрению. Автор не 
несет ответственности за возможный ущерб, вызванный использованием программы. 
</p>
<h3>Разработчики: </h3>
<p align=justify>
<a href="mailto:antidupl@rambler.ru">Ермолаев Игорь</a> (Минск, Беларусь) 2002-2005. 
</p>
<center><h3>Приятного использования!</h3> </center>
</p>
</td></tr></table></center></body>
</html>
