<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Новости</title>
</head>
<body><center><table width=800><tr><td>

<h2>Новости</h2>

<p align=justify>
<b>10.04.2013</b> - Сайт теперь доступен по новому адресу: <a href="http://antidupl.sourceforge.net/russian/index.html" target="_top">http://antidupl.sourceforge.net/</a>.
</p>

<p align=justify>
<b>03.04.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.9</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлена частичная загрузка базы данных о картинках.
 </p></li>
 <li><p align="justify">
Добавлена поддержка разных версий базы данных о картинках, базы данных об шибках и файла результатов.
 </p></li>
 <li><p align="justify">
По умолчанию пользовательские файлы сохраняются в отдельную директорию.
 </p></li>
 <li><p align="justify">
Добавлена минимальное время показа стартового окна (3 секунды).
 </p></li>
 <li><p align="justify">
Добавлен перевод на упрощенный китайский язык.
 </p></li>
</ul>

<p align=justify>
<b>16.03.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.8</a>.
В ней исправлена ошибка:
</p>

<ul>
 <li><p align="justify">
Некорректное сравнение изображений. 
 </p></li>
</ul>

<p align=justify>
<b>15.03.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.7</a>.
Начиная с данной версии исходные коды программы имеются <a href="http://sourceforge.net/projects/antidupl/?source=directory" target="_top">в открытом доступе</a>.
Потому автор будет безмерно благодарен, если вы окажете посильную помощь в ее разработке.
</p>

<p align=justify>
<b>27.09.2012</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.6</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Изменена система нумерации версии программы (убрано последнее число, так как оно не несло смысловой нагрузки). 
 </p></li>
 <li><p align="justify">
Проверка результатов при загрузке сделана опциональной. 
 </p></li>
 <li><p align="justify">
Добавлена возможность обновить базу данных о картинках в ручном режиме. 
 </p></li>
 <li><p align="justify">
Убрана автоматическая проверка базы данных о картинках.
 </p></li>
</ul>

<p align="justify">
Также исправлены ошибки:
</p>

<ul>
 <li><p align="justify">
Утечка памяти при поиске.
 </p></li>
 <li><p align="justify">
Некорректное прерывание процесса загрузки базы данных с картинками.
 </p></li>
 <li><p align="justify">
Неверное состояние на панели статуса во время поиска.
 </p></li>
</ul>

<p align=justify>
<b>12.09.2012</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.5.531</a>.
В ней исправлена ошибка:
</p>

<ul>
 <li><p align="justify">
Программа выдавала не нулевую разность для абсолютно одинаковых ихображений. 
 </p></li>
</ul>

<p align=justify>
<b>06.08.2012</b> Самый старый файл проекта имеет дату последнего изменения - 06.08.2002 (вероятно он был создан раньше, однако свидетельств тому уже нет). Потому
поздравляю всех пользователей программы с ее юбилеем! 
</p>

<p align=center> <font color=Red>Проекту AntiDupl уже 10 лет! </font></p>

<p align=justify>
<b>05.06.2012</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.4.528</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлен перевод на белорусский язык.  
 </p></li>
 <li><p align="justify">
Добавлен перевод на традиционный китайский язык. 
 </p></li>
</ul>

<p align="justify">
Также исправлены ошибки:
</p>

<ul>
 <li><p align="justify">
Некоторые картинки в формате JPEG ошибочно определялись как дефектные.
 </p></li>
 <li><p align="justify">
Не вызывалась справка, если путь к программе содержал пробелы.
 </p></li>
 <li><p align="justify">
Картинки некорректно отрисовывались после изменения размера окна программы.
 </p></li>
  <li><p align="justify">
Программа не отображала картинки, у которых есть пометка "только для чтения".
 </p></li>
</ul>

<p align=justify>
<b>24.05.2012</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.3.520</a>.
В ней исправлена критическая ошибка:
</p>

<ul>
 <li><p align="justify">
Картинки не удаляютсяи не переименовываются. 
 </p></li>
</ul>

<p align=justify>
<b>21.05.2012</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.2.517</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Ускорен алгоритм загрузки изображений. 
 </p></li>
 <li><p align="justify">
Добавлена возможность отключения горячих клавиш. 
 </p></li>
 <li><p align="justify">
Теперь у приложения уменьшается приоритет во время работы в фоновом режиме. 
 </p></li>
 <li><p align="justify">
Увеличено максимально возможное число потоков сравнения и загрузки. 
 </p></li>
 <li><p align="justify">
Добавлена возможность вызова справки из вспомогательных окон. 
 </p></li>
</ul>

<p align="justify">
Также исправлены ошибки:
</p>

<ul>
 <li><p align="justify">
Моргание картинок при смене текущего результата.
 </p></li>
 <li><p align="justify">
Иногда память не освобождалась после окончания поиска.
 </p></li>
 <li><p align="justify">
Ошибка при отображении некоторых файлов с GIF-анимацией.
 </p></li>
</ul>

<p align=justify>
<b>16.04.2012</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.1.503</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Теперь поиск и другие длительные процессы можно прервать нажатием клавиши Escape. 
 </p></li>
 <li><p align="justify">
Вместо одной базы данных о картинках, теперь используется отдельные базы данных для каждого значения параметра "Нормированный размер картинок", что позволяет экономить память. 
 </p></li>
 <li><p align="justify">
Убран режим работы программы, когда база данных постоянно находилась в оперативной памяти. 
 </p></li>
 <li><p align="justify">
Параметр "Нормированный размер картинок" теперь может принимать значение 128. 
 </p></li>
 <li><p align="justify">
Также исправлен ряд ошибок. 
 </p></li>
</ul>

<p align=justify>
<b>03.04.2012</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.0.495</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлена поддержка изображений в форматах JP2(Jpeg2000) и PSD. 
 </p></li>
 <li><p align="justify">
В колонке "Разрешение" результаты теперь сортируются по площади изображения, а не по ее ширине. 
 </p></li>
 <li><p align="justify">
Теперь после поиска программа сортирует результаты таким же образом, как они были сортированы до этого. 
 </p></li>
 <li><p align="justify">
Опционально программа может не сравнивать друг с другом картинки внутри одного каталога. 
 </p></li>
 <li><p align="justify">
При сравнении изображений, программа может опционально игнорировать край картинок. 
 </p></li>
 <li><p align="justify">
В окно редактирования путей добавлены горячие клавиши (Control-C, Control-V, Control-X и Delete). 
 </p></li> 
 <li><p align="justify">
Также исправлен ряд ошибок. 
 </p></li>
</ul>

<p align=justify>
<b>19.12.2011</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.1.1.466</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлен механизм Drag&Drop для добавления файлов и директорий в окне настройки путей. 
 </p></li>
 <li><p align="justify">
Теперь окно прогресса не появляется в случае коротких (продолжительностью менее 200 мс) операций. 
 </p></li>
 <li><p align="justify">
При переименовании картинок добавляется расширение файлов, если пользователь сам забыл это сделать. 
 </p></li>
 <li><p align="justify">
Добавлен перевод на упрощенный китайский язык. 
 </p></li>
 <li><p align="justify">
Также исправлен ряд критических ошибок. 
 </p></li>
</ul>

<p align=justify>
<b>07.12.2011</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.1.0.452</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Изменен алгоритм сравнения изображений (для увеличения точности программы). 
 </p></li>
 <li><p align="justify">
Появилась возможность опционально ограничить количество результатов поиска (для экономии ресурсов).
 </p></li>
 <li><p align="justify">
Теперь можно регулировать количество отменяемых пользователем операций (для экономии ресурсов и для ускорения работы программы).
 </p></li>
 <li><p align="justify">
Опция 'Пороговая разность' вынесена на главную панель инструментов.
 </p></li>
 <li><p align="justify">
Изменен алгоритм удаления временных файлов.
 </p></li>
 <li><p align="justify">
Ограничена возможность пользователю останавливать некоторые операции (для сохранения целостности данных).
 </p></li>
 <li><p align="justify">
Добавлено  окно прогресса для операций с текущим результатом.
 </p></li>
 <li><p align="justify">
В отображаемую под картинками информацию добавлен тип изображений.
 </p></li>
 <li><p align="justify">
Если у пары картинок различается тип, то он теперь выделяется красным цветом.
 </p></li>
 <li><p align="justify">
Переименовать изображение теперь можно при помощи двойного щелчка мышью по имени картинки на панели просмотра.
 </p></li>
 <li><p align="justify">
Добавлен перевод на немецкий язык. 
 </p></li>
</ul>

<p align=justify>
<b>08.11.2011</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.0.0.431</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлена поддержка 64 битности (теперь программа может сканировать коллекции картинок, содержащие более 1 миллиона изображений). 
 </p></li>
 <li><p align="justify">
Появилась возможность отмены/повтора последних 10 действий пользователя.
 </p></li>
 <li><p align="justify">
Теперь в программе можно переименовывать и перемещать изображения.
 </p></li>
 <li><p align="justify">
Теперь пары изображений могут опционально отображаться с учетом их относительного размера.
 </p></li>
 <li><p align="justify">
Малые изображения теперь опционально не растягиваются до размеров панели просмотра.
 </p></li>
 <li><p align="justify">
Теперь разность для полностью идентичных изображений выделяется зеленым цветом.
 </p></li>
 <li><p align="justify">
Убрана возможность одновременного замещения для нескольких пар изображений (т.к. это могло привести к неопределенным результатам).
 </p></li>
 <li><p align="justify">
Также обновлена справка и исправлены ошибки.
 </p></li>
</ul>


<p align=justify>
<b>28.07.2011</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.8.5.379</a>.
В ней добавлен перевод на корейский язык.
</p>

<p align=justify>
<b>05.07.2011</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.8.4.375</a>.
В ней добавлен перевод на немецкий язык.
</p>

<p align=justify>
<b>14.06.2011</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.8.3.372</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Улучшен перевод на китайский язык.
 </p></li>
 <li><p align="justify">
Также обновлена справка и исправлены ошибки.
 </p></li>
</ul>

<p align=justify>
<b>17.05.2011</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.8.2.365</a>.
В ней исправлена критическая ошибка:
</p>

<ul>
 <li><p align="justify">
Картинки не удаляются. 
 </p></li>
</ul>

<p align=justify>
<b>14.05.2011</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.8.1.362</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Улучшена иконка программы. 
 </p></li>
 <li><p align="justify">
Добавлен перевод на китайский язык. 
 </p></li>
 <li><p align="justify">
Также обновлена справка и исправлены ошибки.
 </p></li>
</ul>

<p align=justify>
<b>25.04.2011</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.8.0.354</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлено окно для отображения прогресса длительных процессов (обработка результатов, загрузка и сохранение файлов, закрытие программы).
 </p></li>
 <li><p align="justify">
Добавлена кнопка "Обновить результаты".
 </p></li>
 <li><p align="justify">
Изменена форма хранения результатов, а также алгоритмы их обработки.
 </p></li>
 <li><p align="justify">
Теперь программа при открытии каталога, содержащего картинку внешней программой одновременно выделяет ее.
 </p></li>
 <li><p align="justify">
Появилась возможность настроить процесс загрузки базы данных с картинками.
 </p></li>
 <li><p align="justify">
Добавлен перевод на итальянский и испанский языки.
 </p></li>
 <li><p align="justify">
Также обновлена справка и исправлены ошибки.
 </p></li>
</ul>

<p align=justify>
<b>23.02.2011</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.7.1.319</a>.
В ней исправлены следующие ошибки:
</p>

<ul>
 <li><p align="justify">
Главное окно не сворачивается при нажатии кнопки "Свернуть" в окне прогресса поиска. 
 </p></li>
 <li><p align="justify">
Низкая производительность при загрузке программы и во время начала поиска.
 </p></li>
 <li><p align="justify">
Падение программы при поиске в очень больших коллекциях картинок.
 </p></li>
 <li><p align="justify">
Некорректные рекомендации программы для автоматической обработки картинок.
 </p></li>
 <li><p align="justify">
Поиск дефектных картинок ведется даже если соответствующая опция выключена.
 </p></li>
 <li><p align="justify">
Некорректная остановка поиска (не отображаются результаты после прерывания поиска пользователем).
 </p></li>
</ul>

<p align=justify>
<b>01.02.2011</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.7.0.311</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Теперь можно сворачивать программу во время поиска на панель инструментов и в системное меню.
 </p></li>
 <li><p align="justify">
При поиске картинки теперь загружаются в несколько потоков.
 </p></li>
 <li><p align="justify">
Данные о дефектах теперь сохраняются в базу данных о картинках.
 </p></li>
 <li><p align="justify">
Убрана опция "Запоминать картинки" (теперь она всегда включена).
 </p></li>
 <li><p align="justify">
Уменьшено количество памяти потребляемой программой приблизительно в 2 раза.
 </p></li>
 <li><p align="justify">
Изменен внешний вид окна прогресса поиска.
 </p></li>
 <li><p align="justify">
Добавлены опции командной строки (пользователь может задать свой путь для хранения служебных файлов программы).
 </p></li>
 <li><p align="justify">
Изменена система нумерации версий программы (последняя цифра теперь соответствуе номеру ревизии).
 </p></li>
 <li><p align="justify">
Также обновлена справка и исправлены ошибки.
 </p></li>
</ul>

<p align=justify>
<b>04.11.2010</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.6.0.0</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлена поддержка расширенных имен файлов (длиной до 32768 символов). 
 </p></li>
 <li><p align="justify">
Добавлена возможность поиска дублирующих изображений в форматах EMF, WMF, EXIF и ICON.
 </p></li>
 <li><p align="justify">
Также обновлена справка и исправлены ошибки.
 </p></li>
</ul>

<p align="justify">
<b>21.10.2010</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.5.3.0</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлена поддержка итальянского языка.
Используется перевод, предоставленный Roberto Corica. 
 </p></li>
 <li><p align="justify">
Прекращена поддержка старых операционных систем (Windows 98, Windows ME и Windows NT) в связи с переходом на новую среду разработки (Microsoft Visual Studio 2008).
 </p></li>
</ul>

<p align="justify">
<b>09.06.2010</b> - Появился раздел сайта для <a href="../dev/russian/index.html" target="_top">разработчиков</a>.
Предполагается, что там я буду выкладывать исходные коды и интерфейсы для различных версий программы <b>AntiDupl</b>,
а так же документацию и примеры по ним.
</p>

<p align="justify">
<b>08.06.2010</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.5.2.0</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Изменено графическое оформление программы.
Используется скин, предоставленный Василием Федосеевым. 
 </p></li>
 <li><p align="justify">
Появилась возможность открыть каталог, в котором хранится текущая картинка.
 </p></li>
</ul>

<p align=justify>
<b>18.03.2010</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.5.1.0</a>.
В ней исправлены следующие ошибки:
</p>

<ul>
 <li><p align="justify">
Аварийное завершение программы при удалении или перемещении картинок, если видимость первого столбца отключена.
 </p></li>
 <li><p align="justify">
Аварийное завершение программы во время поиска. 
 </p></li>
</ul>

<p align=justify>
<b>10.03.2010</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.5.0.0</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлен выбор между вертикальной и горизонтальной ориентацией результатов на панели просмотра и в таблице.
 </p></li>
 <li><p align="justify">
Теперь возле картинок отображаются их основные параметры (путь, размер файла, габариты изображения).
 </p></li>
 <li><p align="justify">
Строковые ресурсы теперь хранятся во внешних xml-файлах, пользователь может добавить свой собственный перевод программы на родной язык.
 </p></li>
 <li><p align="justify">
Проверка наличия новых версий программы теперь сделана опциональной.
 </p></li>
 <li><p align="justify">
Появилась возможность скопировать путь к картинке.
 </p></li>
 <li><p align="justify">
Добавлены кнопки для навигации по таблице результатов.
 </p></li>
 <li><p align="justify">
Изменен дизайн и содержание меню, панелей управления и строк состояния.
 </p></li>
 <li><p align="justify">
Теперь у кнопок во всплывающих подсказках указываются соответсвующие им горячие клавиши.
 </p></li>
 <li><p align="justify">
Также обновлена справка и исправлены ошибки.
 </p></li>
</ul>

<p align=justify>
Подробное описание изменений находится в <a href="../data/help/russian/index.html?page=news.html" target="_top">справке</a>. 
</p>

<p align=justify>
<b>P.S.</b> Начиная с этой версии у вас есть <a href="../data/help/russian/index.html?page=faq.html" target="_top">возможность</a> 
сделать перевод программы на свой родной язык. 
Если вы пришлете мне ваш перевод, то я смогу его включить его в стандартную версию программы и разместить на своем сайте.
</p>

<p align=justify>
<b>18.12.2009</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.4.0.0</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлены горячие клавиши, a также возможность пользователю их редактировать в специальном окне.
 </p></li>
 <li><p align="justify">
Новый алгоритм обновления списка результатов, годный для списков произвольного размера.
В связи с чем теперь все результаты отображаются единым списком.
 </p></li>
 <li><p align="justify">
Добавлена возможность менять порядок следования столбцов в таблице результатов.
 </p></li>
 <li><p align="justify">
Видимость столбцов теперь регулируется в отдельном окне.
 </p></li>
 <li><p align="justify">
Добавлены подсказки для двойных ячеек в таблице.
 </p></li>
 <li><p align="justify">
Также изменено наименование ряда операций, обновлена справка и исправлены ошибки.
 </p></li>
</ul>

<p align=justify>
Подробное описание изменений находится в <a href="../data/help/russian/index.html?page=news.html" target="_top">справке</a>. 
</p>

<p align=justify>
<b>10.09.2009</b> - Доступна новая версия <a href="download.html" target="mainFrame">AntiDupl.NET-1.3.0.0</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлена английская версия справки.
 </p></li>
 <li><p align="justify">
Появилась система оповещения пользователей о новых версиях программы.
 </p></li>
</ul>

<p align=justify>
Подробное описание изменений находится в <a href="../data/help/russian/index.html?page=news.html" target="_top">справке</a>. 
</p>

<p align=justify>
Помимо этого появилась <a href="../english/index.html" target="_top">английская версия</a> данного сайта. 
</p>

<p align=justify>
<a href="old0.html" target="mainFrame">Читать далее...</a>
</p>

</td></tr></table></center></body>
</html>
