<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Новости</title>
</head>
<body><center><table width=1024><tr><td>

<h2>Новости</h2>

<p align=justify>
<b>05.07.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.3.0</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлена поддержка изображений в форматах DDS(DirectDraw Surface) и TGA(Truevision Graphics Adapter).
 </p></li>
 <li><p align="justify">
Добавлена поддержка профилей поиска.
 </p></li>
 <li><p align="justify">
Добавлено опциональное ограничение на максимальный размер картинок при поиске.
 </p></li>
 <li><p align="justify">
Добавлено сохранение/востановление позиции главного окна программы.
 </p></li>
 <li><p align="justify">
Теперь при прочих равных условиях программа будет рекомендовать удалить более новые картинки.
 </p></li>
</ul>

<p align="justify">
Также исправлены ошибки:
</p>

<ul>
 <li><p align="justify">
Программа открывала некорректную директорию при переименовании картинок.
 </p></li>
 <li><p align="justify">
Программа при переименовании не перемещала картинки на другой диск.
 </p></li>
</ul>

<p align=justify>
<b>26.04.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.11</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлен перевод на украинский язык.
 </p></li>
 <li><p align="justify">
Добавлен перевод на немецкий язык.
 </p></li>
</ul>

<p align="justify">
Также исправлены ошибки:
</p>

<ul>
 <li><p align="justify">
Директория "user" создавалась в директории программы даже если пользователь указал другой путь для сохранения файлов пользователя.
 </p></li>
</ul>

<p align=justify>
<b>11.04.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.10</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлена опциональная проверка базы данных об ошибках при загрузке.
 </p></li>
 <li><p align="justify">
Добавлено отображение процесса загрузки и сохранения базы данных об ошибках.
 </p></li>
 <li><p align="justify">
Сайт программы сменил свой адрес.
 </p></li>
</ul>

<p align=justify>
<b>10.04.2013</b> - Сайт теперь доступен по новому адресу: <a href="http://antidupl.sourceforge.net/russian/index.html" target="_top">http://antidupl.sourceforge.net/</a>.
</p>

<p align=justify>
<b>03.04.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.9</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлена частичная загрузка базы данных о картинках.
 </p></li>
 <li><p align="justify">
Добавлена поддержка разных версий базы данных о картинках, базы данных об шибках и файла результатов.
 </p></li>
 <li><p align="justify">
По умолчанию пользовательские файлы сохраняются в отдельную директорию.
 </p></li>
 <li><p align="justify">
Добавлена минимальное время показа стартового окна (3 секунды).
 </p></li>
 <li><p align="justify">
Добавлен перевод на упрощенный китайский язык.
 </p></li>
</ul>

<p align=justify>
<b>16.03.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.8</a>.
В ней исправлена ошибка:
</p>

<ul>
 <li><p align="justify">
Некорректное сравнение изображений. 
 </p></li>
</ul>

<p align=justify>
<b>15.03.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.7</a>.
Начиная с данной версии исходные коды программы имеются <a href="http://sourceforge.net/projects/antidupl/?source=directory" target="_top">в открытом доступе</a>.
Потому автор будет безмерно благодарен, если вы окажете посильную помощь в ее разработке.
</p>

<p align=justify>
<a href="old1.html" target="mainFrame">Читать далее...</a>
</p>

</td></tr></table></center></body>
</html>
