<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Новости</title>
</head>
<body><center><table width=1024><tr><td>

<h2>Новости</h2>

<p align=justify>
<b>25.02.2015</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.3.4</a>.
В ней произошли следующие изменения:
</p>
<ul>
 <li><p align="justify">
	В контекстное меню для выделенных файлов добавлены пункты: "Заместить", "Переименовать как" и "Переместить к". 
 </p></li>
 <li><p align="justify">
	 Добавлена в контекстное меню изображений входящие в группы, содержащих больше двух файлов, возможность группового переименования и перемещения файлов группы. 
 </p></li>
 <li><p align="justify">
	Устранены некоторые утечки памяти при считывание EXIF информации. 
 </p></li>
  <li><p align="justify">
	Изменен алгоритм подсчета размытия. 
 </p></li>
</ul>

<p align=justify>
<b>04.02.2015</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.3.3</a>.
В ней произошли следующие изменения:
</p>
<ul>
 <li><p align="justify">
	Добавлен новый алгоритм сравнения изображений с помощью индекса структурного сходства - SSIM. Он позволяет найти дубликаты среди сильно измененных картинок, а также лучше сравниваются изображения с большим однородным фоном.
 </p></li>
 <li><p align="justify">
	Добавлено считывание и отображение во всплывающей подсказке EXIF информации по основным полям. 
 </p></li>
 <li><p align="justify">
	Исправлено падение при обработке больших файлов и недостатке памяти, теперь при недостатке памяти эти файлы пропускаются.
 </p></li>
</ul>

<p align=justify>
<b>12.01.2015</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.3.2</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
	Добавлен подсчет блочности и размытости изображения. 
 </p></li>
 <li><p align="justify">
	Добавлены пункты меню "Переименовать как соседнею" и "Переместить и переименовать к соседней". 
 </p></li>
 <li><p align="justify">
	Добавлена возможность указания поиска в поддиректориях для каждой директории в окне выбора путей.
 </p></li>
</ul>

<p align=justify>
<b>02.08.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.3.1</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлен перевод на белорусский язык.
 </p></li>
 <li><p align="justify">
Добавлен перевод на немецкий язык.
 </p></li>
 <li><p align="justify">
Пункты меню "Открыть профиль поиска" и "Сохранить профиль поиска как" продублированы на панели инструментов.
 </p></li>
</ul>

<p align="justify">
Также исправлены ошибки:
</p>

<ul>
 <li><p align="justify">
Пользователь не мог сохранить профиль поиска при нулевом количестве результатов.
 </p></li>
 <li><p align="justify">
Пороговая разность на панели инструментов не обновлялась при загрузке профиля поиска.
 </p></li>
 <li><p align="justify">
Иногда настройки программы не сохраняются.
 </p></li>
  <li><p align="justify">
Программа не может загрузить результаты содержащие картинки с дефектами.
 </p></li>
 </ul>

<p align=justify>
<b>05.07.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.3.0</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлена поддержка изображений в форматах DDS(DirectDraw Surface) и TGA(Truevision Graphics Adapter).
 </p></li>
 <li><p align="justify">
Добавлена поддержка профилей поиска.
 </p></li>
 <li><p align="justify">
Добавлено опциональное ограничение на максимальный размер картинок при поиске.
 </p></li>
 <li><p align="justify">
Добавлено сохранение/востановление позиции главного окна программы.
 </p></li>
 <li><p align="justify">
Теперь при прочих равных условиях программа будет рекомендовать удалить более новые картинки.
 </p></li>
</ul>

<p align="justify">
Также исправлены ошибки:
</p>

<ul>
 <li><p align="justify">
Программа открывала некорректную директорию при переименовании картинок.
 </p></li>
 <li><p align="justify">
Программа при переименовании не перемещала картинки на другой диск.
 </p></li>
</ul>

<p align=justify>
<b>26.04.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.11</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлен перевод на украинский язык.
 </p></li>
 <li><p align="justify">
Добавлен перевод на немецкий язык.
 </p></li>
</ul>

<p align="justify">
Также исправлены ошибки:
</p>

<ul>
 <li><p align="justify">
Директория "user" создавалась в директории программы даже если пользователь указал другой путь для сохранения файлов пользователя.
 </p></li>
</ul>

<p align=justify>
<b>11.04.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.10</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлена опциональная проверка базы данных об ошибках при загрузке.
 </p></li>
 <li><p align="justify">
Добавлено отображение процесса загрузки и сохранения базы данных об ошибках.
 </p></li>
 <li><p align="justify">
Сайт программы сменил свой адрес.
 </p></li>
</ul>

<p align=justify>
<b>10.04.2013</b> - Сайт теперь доступен по новому адресу: <a href="http://antidupl.sourceforge.net/russian/index.html" target="_top">http://antidupl.sourceforge.net/</a>.
</p>

<p align=justify>
<b>03.04.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.9</a>.
В ней произошли следующие изменения:
</p>

<ul>
 <li><p align="justify">
Добавлена частичная загрузка базы данных о картинках.
 </p></li>
 <li><p align="justify">
Добавлена поддержка разных версий базы данных о картинках, базы данных об шибках и файла результатов.
 </p></li>
 <li><p align="justify">
По умолчанию пользовательские файлы сохраняются в отдельную директорию.
 </p></li>
 <li><p align="justify">
Добавлена минимальное время показа стартового окна (3 секунды).
 </p></li>
 <li><p align="justify">
Добавлен перевод на упрощенный китайский язык.
 </p></li>
</ul>

<p align=justify>
<b>16.03.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.8</a>.
В ней исправлена ошибка:
</p>

<ul>
 <li><p align="justify">
Некорректное сравнение изображений. 
 </p></li>
</ul>

<p align=justify>
<b>15.03.2013</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.7</a>.
Начиная с данной версии исходные коды программы имеются <a href="http://sourceforge.net/projects/antidupl/?source=directory" target="_top">в открытом доступе</a>.
Потому автор будет безмерно благодарен, если вы окажете посильную помощь в ее разработке.
</p>

<p align=justify>
<a href="old1.html" target="mainFrame">Читать далее...</a>
</p>

</td></tr></table></center></body>
</html>
