<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Новости</title>
</head>
<body><center><table width=1024><tr><td>

<h2>Архив Новостей</h2>

<a href="old1.html" target="mainFrame">Вернуться назад</a>

<p align=justify>
<b>22.08.2009</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.2.1.0</a>.
В ней изменено графическое оформление программы. 
Используется <a href="../data/help/russian/index.html?page=preview.html" target="_top"> скин</a>, предоставленный Василием Федосеевым.
</p>

<p align=justify>
<b>17.07.2009</b> - Вышло обновленная <a href="index.html?page=download.html" target="_top"> версия 2.4.2</a>. 
В ней произошли следущие изменения:
<ol>
 <li> Горячая клавиша Esc, останавливающая поиск, заменена на Pause(Break).</li>
</ol>
</p>

<p align=justify>
<b>24.06.2009</b> - Появилась возможность <a href="index.html?page=thanks.html" target="_top">поблагодарить</a> автора. 
</p>

<p align=justify>
<b>23.06.2009</b> - Доступна новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.2.0.0</a>. 
В ней произошли следующие изменения: 
</p>

<ul>
 <li><p align="justify">
Значительно ускорен алгоритм сравнения изображений для случая больших коллекций картинок.
 </p></li>
 <li><p align="justify">
Разработан новый алгоритм быстрой группировки изображений.
 </p></li>
 <li><p align="justify">
Теперь база данных изображений проверяется на наличие удаленных картинок только раз в месяц. 
Это значительно ускоряет загрузку больших баз.  
 </p></li>
 <li><p align="justify">
Теперь изображения, которые находятся в каталогах "Проверено", не проверяются на дефекты.  
 </p></li>
 <li><p align="justify">
Ширина, высота, состояние окна и размер панели просмотра теперь восстанавливаются при повторном запуске программы.
 </p></li>
 <li><p align="justify">
Уменьшена вложенность меню - подменю "Вид - Панель результатов" теперь вынесено на уровень вверх и переименовано в "Результаты".
 </p></li>
 <li><p align="justify">
Убрана опция "Быстрое предварительное сравнение" на панели дополнительных опций.
Алгоритм сравнения всегда теперь работает в этом режиме.
 </p></li>
</ul>

<p align="justify">
Также обновлена справка и исправлены ошибки:
</p>

<ul>
 <li><p align="justify">
Некорректное определение поддержки SSE2-инструкций процессором. 
 </p></li>
 <li><p align="justify">
Падение программы при работе на 64-битных операционных системах.
 </p></li>
 <li><p align="justify">
Некорректно происходило обновление надписей в строке состояния при смене языка.
 </p></li>
 <li><p align="justify">
Некорректно отображался сайт программы в диалоге "O программе".
 </p></li>
 <li><p align="justify">
Для очень больших коллекций число файлов не влазило в соответствующую ячейку в далоге прогресса поиска.
 </p></li>
 <li><p align="justify">
Некорректо перключалась и востанавливалась при загрузке видимость некоторых панелей.
 </p></li>
</ul>

<p align="justify">
Подробное описание изменений находится в <a href="../data/help/russian/index.html?page=news.html" target="_top">справке</a>. 
</p>

<p align=justify>
<b>08.04.2009</b> - Вышла новая версия <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.1.0.0</a>. 
Основные изменения таковы: 
</p>

<ul>
 <li><p align="justify">
Добавлена опция - Минимальная ширина/высота картинок, она позволяет исключить из поиска небольшие изображения. 
 </p></li>
 <li><p align="justify">
Теперь в диалоге прогресса поиска отображается приблизительное время, требуемое для его окончания.
 </p></li>
 <li><p align="justify">
В таблице результатов столбец "Имя", в котором раньше отображался полный путь к картинке, разделен на два:
 "Имя" с именем файла и "В каталоге" с каталогом, в котором данный файл лежит. 
 </p></li>
</ul>

<p align="justify">
Кроме того, исправлены ошибки и обновлена справка.
Подробное описание изменений лежит <a href="../data/help/russian/index.html?page=news.html" target="_top">здесь</a>. 
</p>

<p align=justify>
<b>15.02.2009</b>
</p> 
Полтора работал года<br>
И теперь представить рад<br>
Я для вашего вниманья<br>
Этот скромный результат...
<p align=justify>
Итак, наконец вышла <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.0.0.0</a>.
Ее описание ее лежит <a href="../data/help/russian/index.html" target="_top">здесь</a>. 
</p>

<p align=justify>
<b>23.01.2009</b> - Работы по написанию программы практически завершены - осталось тестирование, исправление мелких недочетов 
и написание справки. Скорее всего тестовых версий больше не будет - сразу ждите финальную версию. 
Она точно появится до конца зимы. Подробности в <a href="http://antidupl.livejournal.com/" target="_top">журнале</a>. 
</p>

<p align=justify>
<b>02.09.2008</b> - Обстоятельства складываются таким образом, что я не смогу заниматься разработкой 
программы в ближайшие пару-тройку месяцев. Потому я решил выложить то, что <a href="index.html?page=download.html" target="_top">есть</a>
для предварительного альфа-тестирования. Жду ваших замечаний и предложений.
</p>

<p align=justify>
<b>17.03.2008</b> - Вышло обновленная <a href="index.html?page=download.html" target="_top"> версия 2.4.1</a>. 
В ней произошли следущие изменения:
<ol>
 <li> Кнопки перемещения файлов в диалоге сравнения картинок теперь всегда доступны.</li>
</ol>
</p>

<p align=justify>
<b>23.01.2008</b> - О будущей версии AntiDupl: 
</p>

<p align=justify>
Где-то с начала сентября 2007 идет работа над новой версией программы. Изменения очень значительные. 
Новая версия пишется фактически с нуля. На данном этапе проделана довольно большая работа - фактически 
завершена алгоритмическая ее часть. Следующим этапом будет разработка пользовательского интерфейса. 
Предположительно это займет несколько месяцев, следовательно, новая версия программы выйдет в свет 
где-то в середине 2008 года. 
И так, что нового в ней появится?
</p>
<p align=justify>
Пока остановлюсь на том, что уже реализовано:
<ol>
 <li>
Если раньше существовал только один каталог поиска, то теперь в этом плане возможности существенно 
возросли:
  <ol>
   <li>
Появилась возможность поиска в нескольких директориях, так же возможность сравнивать отдельные файлы.
   </li> 
   <li>
Возможность игнорировать задаваемые пользователем директории/файлы при поиске, а  также опционально 
скрытые и системные файлы и папки.
   </li> 
   <li>
Указывать уже проверенные каталоги/картинки (картинки из этих каталогов не будут сравниваться между 
собой, что может существенно сократить время поиска).
   </li> 
   <li>
Указывать каталоги/файлы предпочтительные для удаления (действует при автоматическом удалении).
   </li> 
  </ol>
 </li>
 <li>
Существенно изменилась работа с результатами сравнения. Если раньше был последовательный вывод 
дубликатов, то теперь по ним можно будет:
  <ol>
   <li>
Перемещаться по результатам в произвольном порядке.
   </li> 
   <li>
Сортировать по различным параметрам.
   </li> 
   <li>
Сохранять.
   </li> 
   <li>
Получать рекомендации по их обработке.
   </li> 
   <li>
Удалять/перемещать  в автоматическом порядке.
   </li> 
   <li>
Группировать в (трио, квартеты и т.п.).
   </li> 
   <li>
Выполнять операции над несколькими парами картинок одновременно.
   </li> 
  </ol>
 </li> 
 <li> 
Введен более понятный критерий определения равенства изображений  - среднеквадратичная разность в 
процентах.
 </li> 
 <li> 
Появилось возможность находить зеркальные и повернутые пары изображений.
 </li> 
 <li> 
Данные о найденных картинках заносятся в специальную базу, что значительно ускоряет время повторного 
поиска.
 </li> 
 <li> 
Сравнение картинок ведется параллельно несколькими потоками, что позволяет использовать в полной 
мере возможности современных процессоров.
 </li> 
 <li> 
Алгоритмическая часть программы оформлена в виде отдельного модуля  (динамически подключаемой библиотеки), 
что позволяет ее использование сторонними программами. Его интерфейс имеет как ANSI, так и  UNICODE 
версии функций.
 </li> 
</ol>
</p>
<p align=justify>
Теперь о том, что предстоит сделать -  это графическая оболочка. Предполагается ее писать на C#. 
Скорее всего ее исходники будут в открытом доступе. Это, как мне кажется, позволит желающим менять ее 
интерфейс по собственному усмотрению.
</p>
<p align=justify>
Ну вот вроде пока все. Последнне замечание - я завел <a href="http://antidupl.livejournal.com/" target="_top">журнал</a>
 в котором буду более подробно освещать ход процесса. С вашими вопросами, пожелания и предложениями прошу 
обращаться туда.
</p>


<p align=justify>
<b>10.09.2007</b> - Вышла новая <a href="index.html?page=download.html" target="_top">версия 2.4</a>. 
В ней произошли следущие изменения:
<ol>
 <li>Теперь программа может запоминать свои неправильные срабатывания и учитывать это при повторном поиске.</li>
 <li>В диалогах сравнения и удаления картинок появилось возможность скопировать путь к картинке.</li> 
</ol>
</p>

<p align=justify>
<b>13.07.2007</b> - Выкладываю <a href="index.html?page=download.html" target="_top">версию 2.2XL</a>. Ее сделал  некто 
<a href="mailto:atomicxp@gmail.com">Atomic</a>. В ней произошли существенные улучшения внешнего вида и справки программы.
Мне лично очень понравилось. Скажем ему за это большое спасибо!
</p>

<p align=justify>
<b>11.07.2007</b> - Вышла новая <a href="index.html?page=download.html" target="_top">версия 2.3</a> благодаря стараниям
<a href="mailto:erodim@mail.ru">Дмитрия Ерохина</a>. Изменения в ней косметические:
<ol>
<li>Исправлены подписи в программе.
<li>Исправлена справка.
</ol>
</p>

<p align=justify>
<b>28.07.2006</b> - Вышла <a href="index.html?page=download.html" target="_top">версия 2.2</a>. Вот список изменений в ней:
<ol>
<li>В диалоге сравнения появилась возможность удалить обе картинки.
<li>Также можно не только удалить одну из картинок, но и заместить одну другой.
<li>Показывается полный путь к картинкам.
<li>Картинки открываются при двойном щелчке по ним.
<li>Добавлены новые и изменено назначение некоторых старых горячих клавиш.
</ol>
</p>

<p align=justify>
<b>18.05.2006</b> - Опять обнаружена ошибка (программа удаляла левую картинку в место правой и наоборот). Ошибка исправлена. 
Ради нее я не стал менять номер версии - просто скачайте <a href="index.html?page=download.html" target="_top">версию 2.1</a> еще один раз.
</p>

<p align=justify>
<b>14.05.2006</b> - Вышла <a href="index.html?page=download.html" target="_top">версия 2.1</a>, в которой исправлены ошибки (программа падала при 
нахождении некоторых картинок с дефектами).
</p>


<p align=justify>
<b>09.04.2006</b> Это свершилось! Вышла следующая <a href="index.html?page=download.html" target="_top">версия программы </a>. Она фактически 
разрабатывалась с нуля. Посему со спокойным сердцем присваиваю ей номер <b>2.0</b>. Изменений в программе по 
сравнению с версиями <b>1.х</b> очень много. Вот они:
<ol>
<li>Теперь поддерживается поиск изображений в форматах GIF, TIFF, BMP и PNG. 
<li>Переделан интерфейс главного окна, диалога сравнения и удаления картинок, диалога "О программе".
<li>Появилась строка состояния и панель инструментов.
<li>Все основные опции выведены из меню в отдельное окно.
<li>Программа ведет журнал поиска (лог).
<li>Поддерживаются отложенные запросы (результаты поиска показываются после его окончания).
<li>Появилась поддержка "горячих" клавиш.
<li>Появилась справка.
<li>Улучшен алгоритм поиска.
<li>Исправлены некоторые ошибки, например, мигание картинок при изменении размеров окна.
</ol>
<p align=justify>
К сожалению, из-за использования библиотеки GDI+, программа может работать только в системах Windows XP или 
.NET Server. Однако пользователь может работать с ней и на более ранних версиях Windows, если установит эту
библиотеку (см. подробнее <a href="manual2.html#system" target="mainFrame">здесь</a>). 
</p>
<p align=justify>
<b>P.S.</b> Как вы все уже наверное заметили, сайт подвергся переделке :). 
</p>
<p align=justify>
<b>P.P.S.</b> Хотелось бы выразать благодарность Paul Winex, оказавшему помощь в создании этой версии,
а также всех остальных, кто присылал свои замечания и пожелания.
</p>


<p align=justify>
<b>08.11.2005</b> - Глюки, глюки...
<br> Глюк (полоса прокрутки в диалогах сравнения и удаления) исправлен. Обновленная версия 1.17 лежит по тому же адресу.  
</p>

<p align=justify>
<b>31.10.2005</b> - Вышла новая версия 1.17.
<ul>
<li>Исправлена ошибка - Программа "не замечает" некоторые JPEG-файлы.
<li>Добавлена возможность изменения размеров выводимых картинок в диалогах сравнения и удаления.
<li>Изменен интерфейс меню и диалога "О программе".
</ul>     
Ее можно скачать 
<a href="index.html?page=download.html" target="_top">здесь</a>.
</p>
<p align=justify>
<b>P.S.</b> Хочется сказать отдельное спасибо всем тем, кто высказывает свои пожелания и 
помогает находить ошибки в работе программы. К сожалению в данной версии не все пожелания 
были учтены, однако, со своей стороны клятвенно обещаю больше не запускать проект и в ближайшем будущем 
выпустить следущую версию. В связи с чем большая просьба: присылать всем свои пожелания и замечания о работе 
программы.
</p>

<p align=justify>
<b>24.06.2004</b> - Появилась <a href="http://www.narod.ru/guestbook/?owner=13056614" target="_top">Гостевая книга</a>.
</p>

<p align=justify>
<b>8.01.2004</b> - Вышла новая версия программы 1.16. 
<ul>
<li>Исправлены ошибки:
<ol>
<li>Программа не ищет файлы в скрытых и системных папках.
<li>Программа не ищет файлы, если выбранный каталог был корневым (например С:\).
<li>Некорректное отображение размера файла в окнах диалога. 
</ol>
</li>
<li>Изменено местро хранения настроек.
</ul>
Новую версию можно скачать в соответсвующем  <a href="index.html?page=download.html" target="_top">разделе</a>.
</p>

<p align=justify>
<b>25.10.2003</b> - Изменено <a href="index.html?page=manual.html" target="_top">описание</a> программы - оно стало подробнее и с картинками.  
</p>

<p align=justify>
<b>19.10.2003</b> - Рождение сайта.
</font></p>

</td></tr></table></center></body>
</html>
