<html>
<head>
<meta http-equiv="Content-Type" content="text/html" />
<title>News</title>
</head>
<body><center><table width=1024><tr><td>

<h2>News</h2>

<p align=justify>
<b>07/05/2013</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.3.0</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Added support for DDS(DirectDraw Surface) and TGA(Truevision Graphics Adapter) image formats. 
 </p></li>
 <li><p align="justify">
A search profiles was added.
 </p></li>
 <li><p align="justify">
Added optional limitation to the maximum size of the image when searching.
 </p></li>
 <li><p align="justify">
Added saving/recovering of the position of the main window.
 </p></li>
 <li><p align="justify">
The program will recommend to remove more new pictures, when all other things being equal.
 </p></li>
</ul>

<p align="justify">
Also bugs were fixed:
</p>

<ul>
 <li><p align="justify">
The program opens an invalid directory when renaming of pictures.
 </p></li>
 <li><p align="justify">
The program does not move a picture to another disk when renaming.
 </p></li>
</ul>

<p align=justify>
<b>04/26/2013</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.11</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Added translation into Ukrainian.
 </p></li>
 <li><p align="justify">
Added translation into German.
 </p></li>
</ul>

<p align="justify">
Also bugs were fixed:
</p>

<ul>
 <li><p align="justify">
Directory "user" is created in program directory even if a user set another path to user directory.
 </p></li>
</ul>

<p align=justify>
<b>04/11/2013</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.10</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Added optional checking the database of mistakes when loading.
 </p></li>
 <li><p align="justify">
Added the display of the process of load and save the database of mistakes.
 </p></li>
 <li><p align="justify">
Website of the program changed its address.
 </p></li>
</ul>

<p align=justify>
<b>04/10/2013</b> - The site is now available at a new address: <a href="http://antidupl.sourceforge.net/english/index.html" target="_top">http://antidupl.sourceforge.net/</a>.
</p>

<p align=justify>
<b>04/03/2013</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.9</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Added the partial loading of image database.
 </p></li>
 <li><p align="justify">
Added support of different versions of the database of images, the database of mistakes and the file of results.
 </p></li>
 <li><p align="justify">
By default, user files are stored in a separate directory now.
 </p></li>
 <li><p align="justify">
Added minimal time of displaying of start window (3 seconds).
 </p></li>
 <li><p align="justify">
Added translation into Simplified Chinese.
 </p></li>
</ul>

<p align=justify>
<b>03/16/2013</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.8</a>.
The following error was fixed in the current version:
</p>

<ul>
 <li><p align="justify">
Incorrect image comparison.
 </p></li>
</ul>

<p align=justify>
<b>03/15/2013</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.7</a>.
Starting with this version the source code of this program is available in <a href="http://sourceforge.net/projects/antidupl/?source=directory" target="_top">the public domain</a>.
Therefore the author will be immensely grateful if you will help in development of the program.
</p>

<p align=justify>
<a href="old1.html" target="mainFrame">Read more...</a>
</p>

</td></tr></table></center></body>
</html>
