<html>
<head>
<meta http-equiv="Content-Type" content="text/html"/>
<title>Thank the author</title>
</head>
<body><center><table width=1024><tr><td>

<h2>Thank The Author</h2>

<p align=justify>
The author - a living person and will not mind
if you will transfer your money to one of my accounts:
</p>

<ul>
 <li><p align=justify> 
<b>Yandex money</b>  - to account 41001409680285.
 </p></li>
 <li><p align=justify> 
<b>WebMoney</b>  - to accounts:
 <ul type="circle">
<li>R250599886697</li>
<li>Z191369177825</li>
<li>E479030299810</li>
<li>U383011718978</li>
<li>B147457187203</li>
 </ul>
 </p></li>
</ul>

<h3>
<center>Thanks in advance!</center>
</h3>

</td></tr></table></center></body>
</html>
