<html>
<head>
<meta http-equiv="Content-Type" content="text/html" />
<title>Download</title>
</head>
<body><center><table width=1024><tr><td>

<h2>Download</h2>

<p align=justify>
All versions are presented in the form of self-extracting archives, and support Russian and English interface.
</p>

<p align=justify><b>
AntiDupl.NET-2.x with open source code:
</b></p>

<table width=1012 border="1" style='border-collapse:collapse'>
 <tr> <th>Release date</th> <th>Binary version</th> <th>Size</th> <th>Support of additional languages</th> <th>Source code</th> <th>Size</th></tr>
 <tr> <td align="center">08/02/2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.3.1.exe/download">AntiDupl.NET-2.3.1.exe</a></td> <td align="center">1.5 Mb</td> 
      <td align="center">Byelorussian, German</td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.3.1.zip/download">AntiDupl.NET-2.3.1.zip</a></td> <td align="center">1.8 Mb</td></tr>
 <tr> <td align="center">07/05/2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.3.0.exe/download">AntiDupl.NET-2.3.0.exe</a></td> <td align="center">1.5 Mb</td> 
      <td align="center"></td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.3.0.zip/download">AntiDupl.NET-2.3.0.zip</a></td> <td align="center">1.7 Mb</td></tr>
 <tr> <td align="center">04/26/2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.11.exe/download">AntiDupl.NET-2.2.11.exe</a></td> <td align="center">1.5 Mb</td> 
      <td align="center">Byelorussian, Chinese, Ukrainian, German</td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.2.11.zip/download">AntiDupl.NET-2.2.11.zip</a></td> <td align="center">1.7 Mb</td></tr>
 <tr> <td align="center">04/11/2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.10.exe/download">AntiDupl.NET-2.2.10.exe</a></td> <td align="center">1.5 Mb</td> 
      <td align="center">Byelorussian, Chinese</td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.2.10.zip/download">AntiDupl.NET-2.2.10.zip</a></td> <td align="center">1.7 Mb</td></tr>
 <tr> <td align="center">04/03/2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.9.exe/download">AntiDupl.NET-2.2.9.exe</a></td> <td align="center">1.5 Mb</td> 
      <td align="center">Byelorussian, Chinese</td>
 	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.2.9.zip/download">AntiDupl.NET-2.2.9.zip</a></td> <td align="center">1.7 Mb</td></tr>
<tr> <td align="center">03/16/2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.8.exe/download">AntiDupl.NET-2.2.8.exe</a></td> <td align="center">1.4 Mb</td> 
      <td align="center">Byelorussian</td> 
	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.2.8.zip/download">AntiDupl.NET-2.2.8.zip</a></td> <td align="center">1.7 Mb</td></tr>
 <tr> <td align="center">03/15/2013</td> 
      <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.7.exe/download">AntiDupl.NET-2.2.7.exe</a></td> <td align="center">1.4 Mb</td> 
      <td align="center">Byelorussian</td> 
	  <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl.NET-2.2.7.zip/download">AntiDupl.NET-2.2.7.zip</a></td> <td align="center">1.7 Mb</td></tr>
</table>

<p align=justify><b>
AntiDupl.NET-2.x series:
</b></p>

<table width=1012 border="1" style='border-collapse:collapse'>
 <tr> <th>Release date</th> <th>Link to download</th> <th>Size</th> <th>Support of additional languages</th> </tr>
 <tr> <td align="center">09/27/2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.6.exe/download">AntiDupl.NET-2.2.6.exe</a></td> <td align="center">1396 kb</td> <td align="center">German, Chinese, Byelorussian</td> </tr>
 <tr> <td align="center">09/12/2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.5.531.exe/download">AntiDupl.NET-2.2.5.531.exe</a></td> <td align="center">1386 kb</td> <td align="center">German, Chinese, Byelorussian</td> </tr>
 <tr> <td align="center">06/05/2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.4.528.exe/download">AntiDupl.NET-2.2.4.528.exe</a></td> <td align="center">1382 kb</td> <td align="center">German, Chinese, Byelorussian</td> </tr>
 <tr> <td align="center">05/24/2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.3.520.exe/download">AntiDupl.NET-2.2.3.520.exe</a></td> <td align="center">1378 kb</td> <td align="center">German, Chinese</td> </tr>
 <tr> <td align="center">05/21/2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.2.517.exe/download">AntiDupl.NET-2.2.2.517.exe</a></td> <td align="center">1377 kb</td> <td align="center">German, Chinese</td> </tr>
 <tr> <td align="center">04/16/2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.1.503.exe/download">AntiDupl.NET-2.2.1.503.exe</a></td> <td align="center">1315 kb</td> <td align="center">German, Chinese</td> </tr>
 <tr> <td align="center">04/03/2012</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.2.0.495.exe/download">AntiDupl.NET-2.2.0.495.exe</a></td> <td align="center">1317 kb</td> <td align="center">German, Chinese</td> </tr>
 <tr> <td align="center">12/19/2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.1.1.466.exe/download">AntiDupl.NET-2.1.1.466.exe</a></td> <td align="center">1186 kb</td> <td align="center">German, Chinese</td> </tr>
 <tr> <td align="center">12/07/2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.1.0.452.exe/download">AntiDupl.NET-2.1.0.452.exe</a></td> <td align="center">1179 kb</td> <td align="center">German</td> </tr>
 <tr> <td align="center">11/08/2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-2.0.0.431.exe/download">AntiDupl.NET-2.0.0.431.exe</a></td> <td align="center">1144 kb</td> <td align="center"></td> </tr>
</table>

<p align=justify><b>
AntiDupl.NET-1.x series:
</b></p>

<table width=1012 border="1" style='border-collapse:collapse'>
 <tr> <th>Release date</th> <th>Link to download</th> <th>Size</th> <th>Support of additional languages</th> </tr>
 <tr> <td align="center">07/28/2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.8.5.379.exe/download">AntiDupl.NET-1.8.5.379.exe</a></td> <td align="center">989 kb</td> <td align="center">Italian, Spanish, Chinese, German, Korean</td> </tr>
 <tr> <td align="center">07/05/2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.8.4.375.exe/download">AntiDupl.NET-1.8.4.375.exe</a></td> <td align="center">989 kb</td> <td align="center">Italian, Spanish, Chinese, German</td> </tr>
 <tr> <td align="center">06/14/2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.8.3.372.exe/download">AntiDupl.NET-1.8.3.372.exe</a></td> <td align="center">987 kb</td> <td align="center">Italian, Spanish, Chinese</td> </tr>
 <tr> <td align="center">05/17/2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.8.2.365.exe/download">AntiDupl.NET-1.8.2.365.exe</a></td> <td align="center">983 kb</td> <td align="center">Italian, Spanish, Chinese</td> </tr>
 <tr> <td align="center">05/14/2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.8.1.362.exe/download">AntiDupl.NET-1.8.1.362.exe</a></td> <td align="center">983 kb</td> <td align="center">Italian, Spanish, Chinese</td> </tr>
 <tr> <td align="center">04/25/2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.8.0.354.exe/download">AntiDupl.NET-1.8.0.354.exe</a></td> <td align="center">981 kb</td> <td align="center">Italian, Spanish</td> </tr>
 <tr> <td align="center">02/23/2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.7.1.319.exe/download">AntiDupl.NET-1.7.1.319.exe</a></td> <td align="center">981 kb</td> <td align="center"></td> </tr>
 <tr> <td align="center">02/01/2011</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.7.0.311.exe/download">AntiDupl.NET-1.7.0.311.exe</a></td> <td align="center">979 kb</td> <td align="center"></td> </tr>
 <tr> <td align="center">11/04/2010</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.6.0.0.exe/download">AntiDupl.NET-1.6.0.0.exe</a></td> <td align="center">962 kb</td> <td align="center">Italian</td> </tr>
 <tr> <td align="center">10/21/2010</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.5.3.0.exe/download">AntiDupl.NET-1.5.3.0.exe</a></td> <td align="center">960 kb</td> <td align="center">Italian</td> </tr>
 <tr> <td align="center">06/08/2010</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.5.2.0.exe/download">AntiDupl.NET-1.5.2.0.exe</a></td> <td align="center">957 kb</td> <td align="center"></td> </tr>
 <tr> <td align="center">03/18/2010</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.5.1.0.exe/download">AntiDupl.NET-1.5.1.0.exe</a></td> <td align="center">656 kb</td> <td align="center"></td> </tr>
 <tr> <td align="center">03/10/2010</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.5.0.0.exe/download">AntiDupl.NET-1.5.0.0.exe</a></td> <td align="center">656 kb</td> <td align="center"></td> </tr>
 <tr> <td align="center">12/18/2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.4.0.0.exe/download">AntiDupl.NET-1.4.0.0.exe</a></td> <td align="center">686 kb</td> <td align="center"></td> </tr>
 <tr> <td align="center">09/10/2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.3.0.0.exe/download">AntiDupl.NET-1.3.0.0.exe</a></td> <td align="center">673 kb</td> <td align="center"></td> </tr>
 <tr> <td align="center">08/22/2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.2.1.0.exe/download">AntiDupl.NET-1.2.1.0.exe</a></td> <td align="center">650 kb</td> <td align="center"></td> </tr>
 <tr> <td align="center">06/23/2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.2.0.0.exe/download">AntiDupl.NET-1.2.0.0.exe</a></td> <td align="center">373 kb</td> <td align="center"></td> </tr>
 <tr> <td align="center">04/08/2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.1.0.0.exe/download">AntiDupl.NET-1.1.0.0.exe</a></td> <td align="center">361 kb</td> <td align="center"></td> </tr>
 <tr> <td align="center">02/15/2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl.NET-1.0.0.0.exe/download">AntiDupl.NET-1.0.0.0.exe</a></td> <td align="center">364 kb</td> <td align="center"></td> </tr>
</table>

<p align=justify><i>
Note: If you have not installed on your computer Windows Vista (or later), then for this series required 
<a href="http://www.microsoft.com/downloads/details.aspx?familyid=0856eacb-4362-4b0d-8edd-aab15c5e04f5&displaylang=en">Microsoft.NET Framework 2.0</a>
 (22 Mb) or a later version.
</i></p>

<p align=justify><b>
AntiDupl-2.x series:
</b></p>

<table width=1012 border="1" style='border-collapse:collapse'>
 <tr> <th>Release date</th> <th>Link to download</th> <th>Size</th></tr>
 <tr> <td align="center">07/17/2009</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.4.2.exe/download">AntiDupl-2.4.2.exe</a></td> <td align="center">452 kb</td> </tr>
 <tr> <td align="center">03/17/2008</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.4.1.exe/download">AntiDupl-2.4.1.exe</a></td> <td align="center">502 kb</td> </tr>
 <tr> <td align="center">09/10/2007</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.4.exe/download">AntiDupl-2.4.exe</a></td> <td align="center">453 kb</td> </tr>
 <tr> <td align="center">07/13/2007</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.2XL.exe/download">AntiDupl-2.2XL.exe</a></td> <td align="center">628 kb</td> </tr>
 <tr> <td align="center">07/11/2007</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.3.exe/download">AntiDupl-2.3.exe</a></td> <td align="center">495 kb</td> </tr>
 <tr> <td align="center">07/28/2006</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.2.exe/download">AntiDupl-2.2.exe</a></td> <td align="center">447 kb</td> </tr>
 <tr> <td align="center">05/18/2006</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.1.exe/download">AntiDupl-2.1.exe</a></td> <td align="center">431 kb</td> </tr>
 <tr> <td align="center">04/09/2006</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-2.0.exe/download">AntiDupl-2.0.exe</a></td> <td align="center">429 kb</td> </tr>
</table>

<p align=justify><i>
Note: This series uses a library called <a href="http://sourceforge.net/projects/antidupl/files/bin/gdiplus.exe/download">GDI+</a> (802 kb), 
which may not be in older versions of Windows (Windows 98/ME, Windows NT SP6 or Windows 2000).
</i></p>

<p align=justify><i>
 Source code of <a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl-2.4.2.zip/download">AntiDupl-2.4.2.zip</a> (617 kb) for C++Builder-6. 
</i></p>

<p align=justify><b>
AntiDupl-1.x series:
</b></p>

<table width=1012 border="1" style='border-collapse:collapse'>
 <tr> <th>Release date</th> <th>Link to download</th> <th>Size</th></tr>
 <tr> <td align="center">11/08/2005</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-1.17.exe/download">AntiDupl-1.17.exe</a></td> <td align="center">297 kb</td> </tr>
 <tr> <td align="center">11/01/2003</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-1.16.exe/download">AntiDupl-1.16.exe</a></td> <td align="center">293 kb</td> </tr>
 <tr> <td align="center">10/17/2003</td> <td align="center"><a href="http://sourceforge.net/projects/antidupl/files/bin/AntiDupl-1.15.exe/download">AntiDupl-1.15.exe</a></td> <td align="center">295 kb</td> </tr>
</table>

<p align=justify><i>
 Source code of <a href="http://sourceforge.net/projects/antidupl/files/src/AntiDupl-1.17.zip/download">AntiDupl-1.17.zip</a> (332 kb) for C++Builder-6. 
</i></p>

</td></tr></table></center></body>
</html>
