<html>
<head>
<meta http-equiv="Content-Type" content="text/html" />
<title>News</title>
</head>
<body><center><table width=1024><tr><td>

<h2>News Archive</h2>

<a href="news.html" target="mainFrame">Go back</a>

<p align=justify>
<b>09/27/2012</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.6</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
The system of version numbering  was changed (the last number was removed, because it did not carry the semantic load). 
 </p></li>
 <li><p align="justify">
Checking results at loading was made optional.
 </p></li>
 <li><p align="justify">
The ability to update the database of images manually was added. 
 </p></li>
 <li><p align="justify">
The automatic verification of a database of images was removed.
 </p></li>
</ul>

<p align="justify">
Also bugs were fixed:
</p>

<ul>
 <li><p align="justify">
A memory leak during the search.
 </p></li>
 <li><p align="justify">
Incorrect interrupt the loading process of database with pictures.
 </p></li>
 <li><p align="justify">
Incorrect state of the status bar during of the search.
 </p></li>
</ul>

<p align=justify>
<b>09/12/2012</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.5.531</a>.
The following error was fixed in the current version:
</p>

<ul>
 <li><p align="justify">
The program gets the non-zero difference between absolutely identical images.
 </p></li>
</ul>

<p align=justify>
<b>08/06/2012</b> The oldest project file has a last modification date - 06/08/2002 (perhaps it was created earlier, but there is no evidence to suggest). 
Therefore I congratulate all users of the program with its birthday! 
</p>

<p align=center> <font color=Red>Project AntiDupl is 10 years old! </font></p>

<p align=justify>
<b>06/05/2012</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.4.528</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Belarusian translation was added. 
 </p></li>
 <li><p align="justify">
Traditional Chinese translation was added.
 </p></li>
</ul>

<p align="justify">
Also bugs were fixed:
</p>

<ul>
 <li><p align="justify">
Some of the images in JPEG format were mistakenly identified as defective.
 </p></li>
 <li><p align="justify">
Help was not called when the program path contains spaces.
 </p></li>
 <li><p align="justify">
Pictures were drawn incorrectly after resizing of the program window.
 </p></li>
  <li><p align="justify">
The program does not display images that have marked as "read only".
 </p></li>
</ul>

<p align=justify>
<b>05/24/2012</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.3.520</a>.
The following critical error was fixed in the current version:
</p>

<ul>
 <li><p align="justify">
The pictures are not deleted and not renamed. 
 </p></li>
</ul>

<p align=justify>
<b>05/21/2012</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.2.517</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
The algorithm for image loading was accelerated. 
 </p></li>
 <li><p align="justify">
The ability to disable the hot keys was added.
 </p></li>
 <li><p align="justify">
Now the priority of an application is decreased while running in the background mode.
 </p></li>
 <li><p align="justify">
The maximum number of threads of comparing and loading was increased.
 </p></li>
 <li><p align="justify">
Added the ability to call help from dialog windows.
 </p></li>
</ul>

<p align="justify">
Also bugs were fixed:
</p>

<ul>
 <li><p align="justify">
Images blink when current result has been changed.
 </p></li>
 <li><p align="justify">
Sometimes the memory is not freed after the end of search.
 </p></li>
 <li><p align="justify">
Error displaying some files with GIF-animations.
 </p></li>
</ul>

<p align=justify>
<b>04/16/2012</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.1.503</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Now, search and other long-term processes can be interrupted by pressing Escape key.
 </p></li>
Instead of a one database of pictures, is now used separate databases for each value of the parameter "normalized size of images" that allows you to save memory.
 </p></li>
 <li><p align="justify">
The mode of program, when the database was constantly placed in memory, was removed. 
 </p></li>
 <li><p align="justify">
Now the parameter "Normalized image size" can has value 128.
 </p></li>
 <li><p align="justify">
Also some errors were fixed.
 </p></li>
</ul>

<p align=justify>
<b>04/03/2012</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.2.0.495</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Add support for JP2(Jpeg2000) and PSD image formats. 
 </p></li>
 <li><p align="justify">
In the column "Dimensions" results are now sorted by the image area, rather than its width.
 </p></li>
 <li><p align="justify">
Now, after searching the program sorts the results in the same manner as they have been sorted before.
 </p></li>
 <li><p align="justify">
Optionally, the program can not compare images with one another within the same search path.
 </p></li>
 <li><p align="justify">
When comparing the images, the program can optionally ignore the edge of the picture.
 </p></li>
 <li><p align="justify">
An hot keys were added into Paths Window: (Control-C, Control-V, Control-X and Delete). 
 </p></li>
 <li><p align="justify">
Also some errors were fixed.
 </p></li>
</ul>

<p align=justify>
<b>12/19/2011</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.1.1.466</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Support for Drag & Drop to add files and directories into Paths Window was added.
 </p></li>
 <li><p align="justify">
Now, a Progress Window does not appear in the case of short (less than 200 ms) operation.
 </p></li>
 <li><p align="justify">
The program adds file extension to the renamed image, if the user forgot to do it himself.
 </p></li>
 <li><p align="justify">
Translation into Simplified Chinese was added.
 </p></li>
 <li><p align="justify">
Also some critical errors were fixed.
 </p></li>
</ul>

<p align=justify>
<b>12/07/2011</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.1.0.452</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
The algorithm of image comparison was changed (to increase the accuracy of the program).
 </p></li>
 <li><p align="justify">
Now you can optionally limit the number of search results (for resource savings).
 </p></li>
 <li><p align="justify">
Now you can adjust the number of operations of undoing (to save resources and to accelerate the work program).
 </p></li>
 <li><p align="justify">
The parameter 'Threshold Difference' was placed at the main toolbar.
 </p></li>
 <li><p align="justify">
The algorithm of deleting temporary files was changed.
 </p></li>
 <li><p align="justify">
Limitation to the user to stop some operations was added (for data integrity).
 </p></li>
 <li><p align="justify">
A window of progress was added for the operations with the current result.
 </p></li>
 <li><p align="justify">
The type of image was added to the information placed under image preview.
 </p></li>
 <li><p align="justify">
If a pair of images have a different types, it will be highlighted in red now.
 </p></li>
 <li><p align="justify">
Renaming of the image is now possible by means of double-clicking on the name of pictures on the preview panel.
 </p></li>
 <li><p align="justify">
There was added translation into German. 
 </p></li>
</ul>

<p align=justify>
<b>11/08/2011</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-2.0.0.431</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
The support for 64 bit OS was added (now the program can scan a collection of images containing more than 1 million images). 
 </p></li>
 <li><p align="justify">
Now you can undo/redo the last 10 user actions.
 </p></li>
 <li><p align="justify">
Now you can rename and move images inside the program.
 </p></li>
 <li><p align="justify">
Now a pair of images can optionally be displayed according to their relative size.
 </p></li>
 <li><p align="justify">
Now optionally small images are not stretch to the size of the preview panel.
 </p></li>
 <li><p align="justify">
The difference between a fully identical images is highlighted in green now.
 </p></li>
 <li><p align="justify">
The possibility of simultaneous replacing of multiple pairs of images was removed (since it could lead to uncertain results).
 </p></li>
 <li><p align="justify">
Also help was updated and bugs were fixed.
 </p></li>
</ul>

<p align=justify>
<b>07/28/2011</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.8.5.379</a>.
There was added translation into Korean in it.
</p>
<p align=justify>
<b>07/05/2011</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.8.4.375</a>.
There was added translation into German in it.
</p>

<p align=justify>
<b>06/14/2011</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.8.3.372</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Improved translation into Chinese.
 </p></li>
 <li><p align="justify">
Also help was updated and bugs were fixed.
 </p></li>
</ul>

<p align=justify>
<b>05/17/2011</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.8.2.365</a>.
The following critical error was fixed in it:
</p>

<ul>
 <li><p align="justify">
The pictures are not deleted. 
 </p></li>
</ul>

<p align=justify>
<b>05/14/2011</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.8.1.362</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
The program icon was improved.
 </p></li>
 <li><p align="justify">
Added translation into Chinese.
 </p></li>
 <li><p align="justify">
Also help was updated and bugs were fixed.
 </p></li>
</ul>

<p align=justify>
<b>04/25/2011</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.8.0.354</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
A window to display the progress of long processes was added (processing of the results, downloading and saving of files, closing of program).
 </p></li>
 <li><p align="justify">
The button "Refresh results"  was added.
 </p></li>
 <li><p align="justify">
The form of storage of the results, as well as algorithms for their processing were changed.
 </p></li>
 <li><p align="justify">
Now the program when opening a directory with the picture by using of external program at once selects this picture.
 </p></li>
 <li><p align="justify">
Now you can customize the load process a database with pictures.
 </p></li>
 <li><p align="justify">
Added translated into Italian and Spanish.
 </p></li>
 <li><p align="justify">
Also help was updated and bugs were fixed.
 </p></li>
</ul>

<p align="justify">
<b>04/05/2011</b> - A new site section is appeared: <a href="../dev/english/index.html" target="_top">for developers</a>.
It is assumed that there I'll upload the source code and interfaces for different versions of the program <b>AntiDupl</b>,
as well as documentation and examples for them.
</p>

<p align=justify>
<b>02/23/2011</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.7.1.319</a>.
The following bugs were fixed in it:
</p>

<ul>
 <li><p align="justify">
The main window is not minimized when user click "Minimize"in the window of progress of the search.
 </p></li>
 <li><p align="justify">
Low performance during loading of the program and during the beginning of the search.
 </p></li>
 <li><p align="justify">
The program crash during searching in very large collections of images.
 </p></li>
 <li><p align="justify">
Incorrect recommendations of program for the automatic processing of images.
 </p></li>
 <li><p align="justify">
Checking for defect images is performed even if appropriate option was disabled.
 </p></li>
 <li><p align="justify">
Incorrect stopping of search (results are not shown after interruption of the search by the user).
 </p></li>
</ul>

<p align=justify>
<b>02/01/2011</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.7.0.311</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Now you can minimize the program to the taskbar or system tray during searching.
 </p></li>
 <li><p align="justify">
Now a pictures are loaded into several streams during searching.
 </p></li>
 <li><p align="justify">
The data about defects are saved in a database of images now.
 </p></li>
 <li><p align="justify">
The option "Remember the picture" was removed (it is always enabled now).
 </p></li>
 <li><p align="justify">
The amount of memory used by the program was reduced about 2 times.
 </p></li>
 <li><p align="justify">
The design of search progress window was changed.
 </p></li>
 <li><p align="justify">
The command line options were added (you can set your path for storage of service files of the program).
 </p></li>
 <li><p align="justify">
The system of numbering versions was changed (the latter figure is matching the revision number now).
 </p></li>
 <li><p align="justify">
Also help was updated and bugs were fixed.
 </p></li>
</ul>

<p align=justify>
<b>11/04/2010</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.6.0.0</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Add support for extended file names (up to 32768 character length). 
 </p></li>
 <li><p align="justify">
Add possibility to search pictures in the EMF, WMF, EXIF and ICON formats.
 </p></li>
 <li><p align="justify">
Also help was updated and bugs were fixed.
 </p></li>
</ul>

<p align=justify>
<b>10/21/2010</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.5.3.0</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Added support for Italian language.
Here is used translation by Roberto Corica.
 </p></li>
 <li><p align="justify">
The support for older operating systems (Windows 98, Windows ME and Windows NT) is terminated  now  in connection with the transition to a new development tools (Microsoft Visual Studio 2008).
 </p></li>
</ul>

<p align=justify>
<b>06/08/2010</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.5.2.0</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
The graphic design of the program was changed.
This new skin was provided by Vasily Fedoseyev. 
 </p></li>
 <li><p align="justify">
Now you can view the directory, which contains the current image.
 </p></li>
</ul>

<p align=justify>
<b>03/18/2010</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.5.1.0</a>.
The following bugs were fixed in it:
</p>

<ul>
 <li><p align="justify">
The program crash during deleting or moving pictures, if the visibility of the first column is disabled.
 </p></li>
 <li><p align="justify">
The program crash during search. 
 </p></li>
</ul>

<p align=justify>
<b>03/10/2010</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.5.0.0</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
The choice between vertical and horizontal orientation of results in the preview panel and the table was added.
 </p></li>
 <li><p align="justify">
Now main parameters of picture are displayed near the pictures (path, file size, dimensions of the image).
 </p></li>
 <li><p align="justify">
String resources are now stored in the external xml-files, the user can add his own translation of the program in their native language.
 </p></li>
 <li><p align="justify">
Now the check for new versions of the program is optional.
 </p></li>
 <li><p align="justify">
Now you can copy the path to the image.
 </p></li>
 <li><p align="justify">
The buttons to navigate through the table of results were added.
 </p></li>
 <li><p align="justify">
The design and the content of the menu, the control panel, and the status bar were changed.
 </p></li>
 <li><p align="justify">
Now the buttons in tooltips contain their corresponding hotkeys.
 </p></li>
 <li><p align="justify">
Also help was updated and bugs were fixed.
 </p></li>
</ul>

<p align=justify>
A detailed description of the changes is located into the 
<a href="../data/help/english/index.html?page=news.html" target="_top">help documentation<a>.
</p>

<p align=justify>
<b>P.S.</b> Starting with this version you have the <a href="../data/help/english/index.html?page=faq.html" target="_top">opportunity</a> 
to translate the program into their native language.
If you send me your translation, then I will be able to include it into the standard version of the program and place on my site.
</p>

<p align=justify>
<b>12/18/2009</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.4.0.0</a>.
The following changes were happened in it:
</p>

<ul>
 <li><p align="justify">
Hot keys were added, a well as the possibility of user to edit them in a special window.
 </p></li>
 <li><p align="justify">
A new algorithm  for updating the list of results was appeared (valid for lists of arbitrary size).
In connection with that is now all the results are showed in the single list.
 </p></li>
 <li><p align="justify">
Ability to change the order of columns in the table of results was added.
 </p></li>
 <li><p align="justify">
Visibility of columns is now regulated in a separate window.
 </p></li>
 <li><p align="justify">
The tooltips for double cells in the table of results were added.
 </p></li>
 <li><p align="justify">
Also the name of a number of operations were changed, help was updated and bugs were fixed.
 </p></li>
</ul>

<p align=justify>
A detailed description of the changes is located into the 
<a href="../data/help/english/index.html?page=news.html" target="_top">help documentation<a>.
</p>

<p align=justify>
<b>09/10/2009</b> - A new version of <a href="index.html?page=download.html" target="_top">AntiDupl.NET-1.3.0.0</a>.
The following changes were happened in it:
</p>

<ul>
  <li><p align="justify">
English version of the help was added.
  </p></li>
  <li><p align="justify">
Alert system for users about new versions of the program was added.
  </p></li>
</ul>

<p align=justify>
A detailed description of the changes is located into the 
<a href="../data/help/english/index.html?page=news.html" target="_top">help documentation<a>.
</p>

<p align=justify>
Besides <a href="../english/index.html" target="_top">English version</a> of this site was appeared.
</p>

</td></tr></table></center></body>
</html>
